body {
    padding: 50px;
    font: 16px Avenir, Lato, Helvetica;
    min-height: 100vh;
    min-width: 100vw;
}

input {
    padding: 6px 8px;
    border-radius: 3px;
    border: 1px solid lightgray;
}

button {
    padding: 6px 8px;
    border-radius: 3px;
    background-color: #0074d9;
    border: 1px solid lightgray;
    color: white;
}

#bottom {
    padding-top: 20px;
}

a {
    color: #00b7ff;
}
